{% extends 'base.html' %}
{% block content %}
<h1 style="text-align:center"> Leave  Requests</h1>
<br />
<form style="margin-bottom: 15px;" id="SelectForm">
  {% csrf_token %}
  <label>Action: </label> 
  <select id="SelectAction">
    <option value="0" selected hidden>---</option>
    <option value="Approve">- approve selected requests</option>
    <option value="Cancel">- cancel selected requests</option>
  </select> 
  <button type="submit" style="border: 1px solid darkgray;">Go</button>
</form>
<table id="Request_Table" class="table" style="text-align:center;margin: auto;">
  <thead>
    <tr>
      <th><input type="checkbox" id="SelectAll"></th>
      <th>Employee Name</th>
      <th>Status</th>
      <th>date - time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for request in leave_requests %}
    <tr>
        <td><input type="checkbox" id="log_{{request.id}}"></td>
        <td hidden>{{request.id}}</td>
        <td>{{request.user_id}}</td>
        <td>Wants to leave</td>
        <td>{{request.leave_request_at}}</td>
        <td>
          <button class="btn btn-primary" onclick="ApproveRequest(this)">approve</button>
          <button class="btn btn-danger" onclick="CancelRequest(this)">cancel</button>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script src="/static/jQuery/jquery-3.4.1.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $("#SelectForm").submit(function(e){
        e.preventDefault();
        let selected = getSelected();
        let action = $("#SelectAction").val();
        ActionWithSelected(selected,action)
      });
      $("#SelectAll").click(function(){
        if($("#SelectAll").is(":checked")){
          $("input:checkbox").prop('checked', true)
        }else{
          $("input:checkbox").prop('checked', false)
        }
      });
      $("input[type=checkbox]").click(function() {
        if (!$(this).prop("checked")) {
          $("#SelectAll").prop("checked", false);
        } 
      });
    });
    function getSelected(){
      let selected = ""
      $("#Request_Table").find("tr:gt(0)").each(function(){
        if($(this).find("td:eq(0) > input").is(':checked')){
         selected = selected + $(this).find("td:eq(1)").text() + ",";
        }
      });
      return selected
    }

    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');


  function ApproveRequest(employeeLog){
    var EmpName = $(employeeLog).closest('tr').find("td:eq(2)").text();
    var r = confirm("Employee \" "+EmpName+" \" approverd to leave");
    if(r == true){
    var logId = $(employeeLog).closest('tr').find("td:eq(1)").text();
    var url = `http://localhost:8000/api/Accounts/approve_request/${logId}/`
      fetch(url,{
        method:'POST',
        headers: {'Content-type':'application/json',
                  'X-CSRFToken':csrftoken},
        //body: JSON.stringify({"leave_request_at":leave_request_at})
      }).then(function(response){
        notify_with_action(EmpName,"Approved")
        $(employeeLog).closest('tr').remove();
      });
    }
  }

  function CancelRequest(employeeLog){
    var EmpName = $(employeeLog).closest('tr').find("td:eq(2)").text();
    var r = confirm("Employee \" "+EmpName+" \" not permitted to leave");
    if(r == true){
    var logId = $(employeeLog).closest('tr').find("td:eq(1)").text();
    var url = `http://localhost:8000/api/Accounts/cancel_request/${logId}/`
      fetch(url,{
        method:'POST',
        headers: {'Content-type':'application/json',
                  'X-CSRFToken':csrftoken},
      }).then(function(response){
        notify_with_action(EmpName.trim(),"Cancelled")
        $(employeeLog).closest('tr').remove();
      });
    }
  }
  
  function ActionWithSelected(selected,action){
    if((action != "" || action != "0") && selected != ""){
      var r = confirm("Are you sure to "+action+" selected requests ?");
      if(r == true){
      var url = `http://localhost:8000/api/Accounts/action_with_selectd/${action}/`;
        fetch(url,{
          method:'POST',
          headers: {'Content-type':'application/json',
                    'X-CSRFToken':csrftoken},
          body: JSON.stringify({'selected_requests':selected})
        }).then(function(){
          $("#SelectAction").val("0");
          $("#SelectAll").prop('checked', false);
          $("#Request_Table").find("tr:gt(0)").each(function(){
          if($(this).find("td:eq(0) > input").is(':checked')){
          $(this).remove();
          }
        });

        });
      }
    }else{
      alert("you should select requests with an action");
    }
  }
  function notify_with_action(employee_username,manager_action){
    const url = "ws://localhost:8000/ws/"+employee_username+"/";
    const ws = new WebSocket(url);
    ws.onopen = function(){
          ws.send(manager_action)
      }
  }

  const incoming_requs_url = "ws://localhost:8000/ws/"
  const incom_ws = new WebSocket(incoming_requs_url);
  incom_ws.onmessage = function(event){
    let noti_holder = String(event.data).split("^");
    let new_request = 
     '<tr><td><input type="checkbox" id="log_'+noti_holder[0]+'"></td>'
    +'<td hidden>'+noti_holder[0]+'</td>'
    +'<td>'+noti_holder[1]+'</td>'
    +'<td>Wants to leave</td>'
    +'<td>'+noti_holder[3]+'</td>'
    +'<td><button class="btn btn-primary" onclick="ApproveRequest(this)">approve</button> '
    +'<button class="btn btn-danger" onclick="CancelRequest(this)">cancel</button></td></tr>'
    
    $("#Request_Table").append(new_request);
    //0 //1
    //window.location.replace('/Requests')
  }
</script>
{% endblock content %}
